  /* google font link  */
.mulish-font{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* navbar styles */
.navbar{
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
#trabel{
    color: #FF5400;
}
#home{
    color: #FF5400;
}
.nav-logo{
    width: 3rem;
    height: 3.4rem;
}
.nav-desk{
    gap: 20px;
    align-items: center;
}
.nav-title{
    font-size: 2.25rem;
}
.nav-link{
    list-style: none;
}
.nav-item{
    text-decoration: none;
    margin-right: 20px;
    color: rgba(66, 66, 71, 1);
    font-size: 1.125rem;
    font-weight: 400;
}
.cart-logo{
    display: none;
    font-size: 1.5rem;
}
/* banner styles */
.banner{
    max-width: 1170px;
    margin: 0 auto;
}
.hero-container{
    background-image: linear-gradient( rgba(63, 61, 61, 0.5)), url('/images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.banner-container{
    max-width: 800px;

}
.banner-container> h3{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-container>p{
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
}
.banner-form{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #input{
    flex: 1;
 padding: 14px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #555;
  background-color: #ffffff;
} */
 .banner-form>input, select, button{
        flex: 1;
 padding: 14px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #555;
  background-color: #ffffff;
 }
/* responsive styles */
@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
    }
    .cart-logo{
        display: block;
    }
    .banner-form{
        flex-direction: column;

    }
    /* #input{
        flex: none;
        width: 100%;
    } */
     .banner-form>input, select, button{
        flex: none;
        width: 100%;
     }
}
